.container {
    font-family: 'Roboto Slab', serif;
}

.exceptions{
    height:fit-content !important;
}

/*Carousel*/
.back-carousel{
    background-image: url(../assets/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
  }

.otro{
    padding: 20px;
}



/* menu */

.menu-animation {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.menu-closed {
    position:absolute;
    left:0;
    top:-0.5em;
}

.menu-show {
    position:absolute;
    left:0;
    top:170px;
    background-color: rgb(235, 232, 232);    
}

@media (min-width: 768px){
    .menu-show {
        top:160px; 
    }
}

